<% content_for(:title, 'いいね') %>
<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
    </div>
  </div>
  <div class="row">
  <%= render 'likes_sidebar' %>
    <div class="col text-left">
      <div class="row">
        <% if @like_videos.present? %>
          <%= render @like_videos %>
        <% else %>
          <p>いいね！動画がありません</p>
        <% end %>
      </div>
      <%= paginate @like_videos  %>
    </div>
  </div>
</div>

           