<aside>
  <h3 class="sub-title">メニューコンテンツ</h3>
  <ul class="sub-menu">
    <li><%= link_to 'いいね', '#'%></li>
    <li><%= link_to '投稿動画', videos_path  %></li>
    <li><%= link_to '動画作成', new_video_path %></li>
  </ul>
</saide>