<div class="welcome"  style="background-image: url('<%= image_path('soccer.png') %>');">
  <h1>SKILL SHOW MOVES... </h1>
</div>
<div class="lesssonOne">
  <div class="lesssonOne_item">
    <i class="fas fa-futbol icon"></i>
    <h2 class="font">Soccer</h2>
    <br>
      <p class="font">プロサッカー選手を目指す人に<p>
    </br>
  </div>  
  <div class="lesssonOne_item">
    <i class="fas fa-calendar-alt icon"></i>
    <h2 class="font">Record</h2>
    <br>
      <p class="font">毎日の記録を残そう<p>
    </br>
  </div> 
  <div class="lesssonOne_item">
    <i class="fas fa-video icon"></i>
    <h2 class="font">Recording</h2>
    <br>
      <p class="font">毎日のベストプレーを動画にアップしよう！<p>
    </br>
  </div> 
</div>

<div class="lesssonTwo">
  <div class="lesssonTwo_item">
    <i class="far fa-thumbs-up icon"></i>
    <h2 class="font">Like</h2>
    <br>
      <p class="font">リアクションをしよう！<p>
    </br>
  </div>
  <div class="lesssonTwo_item">
    <i class="fas fa-comments icon"></i>
    <h2 class="font">Comment</h2>
    <br>
      <p class="font">コメントしよう<p>
    </br>
  </div>
  <div class="lesssonTwo_item">
  　<i class="fas fa-globe-americas icon"></i>
    <h2 class="font">Transmission of information</h2>
    <br>
      <p class="font">自分のプレーをみんなにみてもらう！<p>
    </br>
  </div>
</div>
<footer class="footer"> 
  <div class="cover" style="background-image: url('<%= image_path('footer.png') %>');"></div>
  <div class="mycontent">
    <div class="mycontent_item">
      <h2 class="font">ME</h2>
      <%= image_tag 'myimage.png', class: 'myimage' %>
      <h3 class="font">RYUKI</h3>
      <div class="mycontent_item_text">
        <p class="font">・プロサッカー選手を諦めてエンジニアへ</p>
        <p class="font">・高校時代では、サッカープロチームの育成組織でプレー</p>
        <p class="font">・現在　文系　大学３年生<p>
      </div class="font">
    </div>
    <div class="mycontent_item">
      <h2 class="font">GitHub</h2>
      <i class="fab fa-github git-icon"></i>
      <div class="mycontent_item_text">
        <br>
          <%= link_to 'SKILL SHOW MOVIES', 'https://github.com/fujiedaryuki/SKILL_SHOW_MOVIES' %>
          <p class="font">GitHubにてこちらのソースコードを公開しております。</p>
        </br>
      </div>
    <div>
  </div>
</footer> 

