// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
  background-image: url('soccer.png');
  background-size: cover;
  background-blend-mode:lighten;
  background-position: center top;
  position: relative;
  width: 100vw;
  height: 600px;
  
  .welcome-inner-text h1 {
    font-size: 90px;
    font-family: Impact;
    color: #ffa500;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    position: absolute;
  }
}

.body  {
  background-color: #808080;
}

